{:paths ["src" "classes"]

 :deps {funcool/promesa {:mvn/version "11.0.678"}
        babashka/process {:mvn/version "0.5.21"}
        com.github.kwhat/jnativehook {:mvn/version "2.2.2"}
        org.clojure/tools.cli {:mvn/version "1.0.219"}
        metosin/malli {:mvn/version "0.13.0"}
        io.github.givimad/whisper-jni {:mvn/version "1.5.1"}}

 :aliases {:precompile {:extra-paths ["dev"]
                        :exec-fn user/compile-classes}

           :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.5"}}
                   :ns-default build}

           :native {:extra-deps {com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}}}}}
